{% extends "base.html" %}
{% block content %}
  <h1>Omat tiedot:</h1>

  <ul>
    <li><strong>Nimi: </strong>Matti</li>
    <li><strong>Puhelinnumero: </strong>123456789</li>
    <li><strong>Sähköpostiosoite: </strong>asdf@asdf</li>
    <li><strong>Liittymispäivä: </strong>2.8.2017</li>
    <li><strong>Tuotelistaukset: </strong>1</li>
  </ul>

  <p>
    <a href="#" class="btn btn-default">Muokkaa</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Tuote</th>
        <th>Hintapyyntö</th>
        <th>Myyjä</th>
        <th>Lisäyspäivä</th>
        <th></th>
      </tr>
    </thead>

    <h2>Omat tuotelistaukset:</h2>

    
    
    <tbody>
      <tr>
        <td><a href="#">Tuoli</a></td>
        <td>20€</td>
        <td>Matti</td>
        <td>2.8.2017</td>
        <th><a class="btn btn-warning btn-xs" href="#">Muokkaa</a> <a class="btn btn-danger btn-xs" href="#">Poista</a></th>
      </tr>
    </tbody>
  </table>
  
{% endblock %}