{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
  <h1>Käyttäjän tiedot:</h1>

  <ul>
    <li><strong>Nimi: </strong>{{käyttäjä.nimi}}</li>
    <li><strong>Puhelinnumero: </strong>{{käyttäjä.puh}}</li>
    <li><strong>Sähköpostiosoite: </strong>{{käyttäjä.sähköposti}}</li>
    <li><strong>Liittymispäivä: </strong>{{käyttäjä.liittymispvm}}</li>
  </ul>

  <p>
    <a href="#" class="btn btn-default">Muokkaa tietojasi</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Tuote</th>
        <th>Hintapyyntö</th>
        <th>Lisäyspäivä</th>
        <th></th>
      </tr>
    </thead>

    <h2>Käyttäjän myynnissä olevat tuotteet:</h2>

    <tbody>
      {% for tuote in tuotteet %}
        <tr>
          <td><a href="{{base_path}}/tuote/{{tuote.id}}">{{tuote.kuvaus}}</a></td>
          <td>{{tuote.hinta}}</td>
          <td>{{tuote.lisäyspäivä}}</td>
          
          {% if user_logged_in.id == käyttäjä.id %}
            <th><a class="btn btn-warning btn-xs" href="{{base_path}}/tuote/{{tuote.id}}/muokkaa">Muokkaa</a> {{forms.poista_painike("#{base_path}/tuote/#{tuote.id}/poista")}}
          {% else %}
            <th><a class="btn btn-default btn-sm" href="{{base_path}}/tuote/{{tuote.id}}/tarjous">Tee tarjous</a></th>
          {% endif %}
        </tr>
      {% endfor %}  
    </tbody>
  </table>

  {% if user_logged_in.id == käyttäjä.id %}
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Tuote:</th>
        <th>Hintatarjous:</th>
        <th>Lisätietoja:</th>
        <th>Päivämäärä:</th>
        <th></th>
      </tr>
    </thead>

    <h2>Muille tehdyt tarjoukset:</h2>

    <tbody>
      {% for tarjous in tarjoukset %}
        <tr>
          <td><a href="{{base_path}}/tuote/{{tarjous.tuote_id}}">{{tarjous.tuote_kuvaus}}</a></td>
          <td>{{tarjous.hintatarjous}}</td>
          <td>{{tarjous.lisätietoja}}</td>
          <td>{{tarjous.päivämäärä}}</td>
          <td><a class="btn btn-warning btn-xs" href="{{base_path}}/tarjous/{{tarjous.id}}/muokkaa">Muokkaa</a> {{forms.poista_painike("#{base_path}/tarjous/#{tarjous.id}/poista")}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Tuote:</th>
        <th>Tarjouksen tekijä:</th>
        <th>Hintatarjous:</th>
        <th>Lisätietoja:</th>
        <th>Päivämäärä:</th>
        <th></th>
      </tr>
    </thead>

    <h2>Sinulle tehdyt tarjoukset:</h2>

    <tbody>
      {% for tarjous in tarjoukset2 %}
        <tr>
          <td><a href="{{base_path}}/tuote/{{tarjous.tuote_id}}">{{tarjous.tuote_kuvaus}}</a></td>
          <td><a href="{{base_path}}/profiili/{{tarjous.ostaja_id}}">{{tarjous.ostaja_nimi}}</a></td>
          <td>{{tarjous.hintatarjous}}</td>
          <td>{{tarjous.lisätietoja}}</td>
          <td>{{tarjous.päivämäärä}}</td>
          <td>{{forms.poista_painike("#{base_path}/tarjous/#{tarjous.id}/poista", "Hylkää")}}</td>
        </tr>
      {% endfor %}
    </tbody>

  </table>
  {% endif %}

{% endblock %}