{% extends "base.html" %}
{% block content %}
  <h1>Tuotelista:</h1>
   
  <p>
    <a href="{{base_path}}/tuote/uusi" class="btn btn-primary">Uusi tuotelistaus</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Tuote</th>
        <th>Hintapyyntö</th>
        <th>Myyjä</th>
        <th>Lisäyspäivä</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for tuote in tuotteet %}
        <tr>
          <td><a href="{{base_path}}/tuote/{{tuote.id}}">{{tuote.kuvaus}}</a></td>
          <td>{{tuote.hinta}}</td>
          <td>{{tuote.myyjä_nimi}}</td>
          <td>{{tuote.lisäyspäivä}}</td>
          {% if user_logged_in.id == tuote.myyjä_id %}
            <th></th>
          {% else %}  
            <th><a class="btn btn-default btn-sm" href="{{base_path}}/tuote/{{tuote.id}}/tarjous">Tee tarjous</a></th>
          {% endif %}
        </tr>
      {% endfor %}  
    </tbody>
  </table>
{% endblock %}