{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa tuotteen tietoja</h1>

  {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <lil>{{error}}</lil>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <form method="post" action="{{base_path}}/tuote/{{attributes.id}}/muokkaa">
    <div class="form-group">
      <label>Tuote</label>
      <input type="text" name="kuvaus" class="form-control" value="{{attributes.kuvaus}}">
    </div>
    
    <div class="form-group">
      <label>Hintapyyntö</label>
      <input type="text" name="hinta" class="form-control" value="{{attributes.hinta}}">
    </div>

    <div class="form-group">
      <label>Lisätietoja</label>
      <textarea name="lisätietoja" class="form-control">{{attributes.lisätietoja}}</textarea>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>

  </form>

{% endblock %}