{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

  {% if message %}
    <div class="alert alert-success">
  	 {{message}}
    </div>
  {% endif %}  

  <h1>Tuote:</h1>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Tuotteen kuvaus</th>
        <th>Hintapyyntö</th>
        <th>Myyjä</th>
        <th>Lisäyspäivä</th>
        {% if tuote.myynnissä == TRUE %}
        <th></th>
        {% endif %}
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>{{tuote.kuvaus}}</td>
        <td>{{tuote.hinta}}</td>
        <td><a href="{{base_path}}/profiili/{{myyjä.id}}">{{myyjä.nimi}}</a></td>
        <td>{{tuote.lisäyspäivä}}</td>
        {% if tuote.myynnissä == TRUE %}
        {% if user_logged_in.id == myyjä.id %}
          <th><a class="btn btn-warning btn-xs" href="{{base_path}}/tuote/{{tuote.id}}/muokkaa">Muokkaa</a> {{forms.poista_painike("#{base_path}/tuote/#{tuote.id}/poista")}}
        {% else %}
          <th><a class="btn btn-default btn-sm" href="{{base_path}}/tuote/{{tuote.id}}/tarjous">Tee tarjous</a></th>
        {% endif %}
        {% endif %}
      </tr>
    </tbody>
  </table>

  <strong>Lisätietoja tuotteesta:</strong>
  
  <p>
    {{tuote.lisätietoja}}
  </p>

  <strong>Myyjän yhteystiedot</strong>
  <p>puh: {{myyjä.puh}}</p>
  <p>sähköposti: {{myyjä.sähköposti}}</p>
{% endblock %}