{% extends "base.html" %}
{% block content %}
  <h1>Lisää uusi tuote tuotevalikoimaan:</h1>

  <form method="post" action="{{base_path}}/tuote">
    <div class="form-group">
      <label>Tuote</label>
      <input type="text" name="kuvaus" class="form-control">
    </div>
    
    <div class="form-group">
      <label>Hintapyyntö</label>
      <input type="text" name="hintapyyntö" class="form-control">
    </div>

    <div class="form-group">
      <label>Lisätietoja</label>
      <textarea name="lisätietoja" class="form-control"></textarea>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lisää tuote</button>
    </div>

  </form>

{% endblock %}